$firstColor: #202020;
$secondColor: #303030;
$thirdColor: #505050;
$fourthColor: #f1f1f1;
$fourthColorInactive: rgba(241,241,241,0.5);
$fifthColor: #e8021a;
$sixthColor: #deac6b;
$seventhColor: #e20a7d;
$eighthColor: #ff00b2;
$shadow: 0px 5px 7.5px 0px rgba(0,0,0,0.8);