$defaultFontSize: 66.25%;
$titleheader: 2rem;
$subTitle: 1.25rem;
$brandLogo: 1.5rem;
$buttonText: 1.25rem;
$navLinks: 2rem;
$regularText: 1rem;
$subRegularText: 0.9rem;
$techStack: 0.8rem;
$footerText: 0.8rem;