#home-section {
     background: url(../assets/img/pexels-pixabay-270632.jpg) no-repeat center;
     background-size: cover;
     height: 100vh;
     width: 100%;
     padding: 50px 0;
}
#home-section::after{
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5);
     z-index: 1;
   }

.home {
     position: relative;
     //Layout
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     z-index: 2;
     &__introText {
          width: fit-content;
          font-size: $titleheader;
          font-weight: 900;
          z-index: 2;
          span {
               background-image: linear-gradient(
                    to right,
                    $sixthColor,
                    $fifthColor,
                    $seventhColor,
                    $eighthColor
               );
               z-index: 2;
               background-size: 100%;
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent; 
               -moz-background-clip: text;
               -moz-text-fill-color: transparent;
          }
     }
     &__scrollDown {
          position: absolute;
          margin-top: 400px;
          width: 100%;
          //Layout
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          z-index: 2;
          .mouse {
               margin-bottom: 20px;
               width: 40px;
               height: 65px;
               border: 3px solid $seventhColor;
               border-radius: 60px;
               display: flex;
               justify-content: center;
               z-index: 2;
               .wheel {
                    margin-top: 10px;
                    width: 12px;
                    height: 12px;
                    background-color: $seventhColor;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 1.25s infinite;

               }
          }
          @keyframes wheel {
               to { margin-top: 35px; }
          }
          .scrollDownText {
               font-weight: $regular;
               font-size: $regularText;
          }
     }
     @include for-laptopSmall {
          &__introText { font-size: 2.5rem; }
          &__scrollDown { margin-top: 425px; }
     }
     @include for-laptopMedium {
          &__introText { font-size: 3rem; }
          &__scrollDown { margin-top: 450px; }
     }
     @include for-mobileLarge {
          &__introText { font-size: 1.8rem; }
          &__scrollDown {
               .mouse {
                    width: 35px;
                    height: 55px;
               }
               .wheel {
                    width: 10px;
                    height: 10px;
               }
               @keyframes wheel {
                    to { margin-top: 25px; }
               }
               .scrollDownText {
                    font-size: 0.9rem;
               }
          }
     }
     @include for-mobileMedium {
          &__introText { font-size: 1.6rem; }
          .scrollDownText { font-size: 0.8rem; }
     }
     @include for-mobileSmall {
          &__introText { font-size: 1.4rem; }
          .scrollDownText { font-size: 0.7rem; }
     }
     @include for-mobileXSmall {
          &__introText { font-size: 1.2rem; }
     }
}